/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
	
}


#left {
	background-color:#666;
	float:left;
	width:33%;
	padding:30px 0;
}

#middle {
	background-color:#888;
	float:left;
	width:33%;
	padding:30px 0;
}

#right {
	background-color:#666;
	float:left;
	width:33%;
	padding:30px 0;
}

#full {
		background-color:#eee;
		margin:20px 0;
		margin-top:120px;	
}

#full::after,
footer::after,
#right::after{
	content:"";
	display:block;
	clear:both;
}

#division {
	background-color:#6ea3da;
	padding:30px 0;
	margin:45px 0;
}

aside {
	background-color:#fff;
	float:left;
	width:200px;
	height:200px;
	padding:20px;
	margin:20px 0 20px 20px;
	border:1px solid #999;
}

footer {
	background-color:#ccc;
	padding:30px 0;
}
